<div class="row m-3">
    <div class="col-8" [ngClass]="ShowSideDiv?'col-8':'col-12'">
        <div class="card">
            <div class="card-heading">
                <div class="row">
                    <div class="col-6 text-center">
            <h4>Category List</h4>    
            </div>
            <div class="col-6 text-end">
                <button class="btn btn-success" (click)="showsidediv()">Add Category</button>
            </div>
            </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>SrNo</th>
                            <th>Categoty Name</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cat of categoryList;let sr=index">
                            <td>{{sr+1}}</td>
                            <td>{{cat.categoryName}}</td>
                           
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-4" *ngIf="showsidediv">
        <div class="card">
            <div class="card-heading">
                <div class="row">
                    <div class="col-6 text-center">
                        <h4>Add New Category</h4>
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-danger" (click)="hidesidediv()">Close</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <label for="">Category Name:</label>
                <input type="text" [(ngModel)]="categoryobj.categoryName" placeholder="Enter Category Name">
            </div>
            <div class="card-footer">
                <button class="btn btn-success" (click)="CreateCategory()">Submit</button>
                <button class="btn btn-danger" (click)="onReset()">Reset</button>
            </div>
        </div>
    </div>
</div>
